<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog System</title>
</head>
<body style="text-align: center; background-color: aqua;">
    <h1> Blog System </h1>
    {% for post in posts %}
    <div style="border: rgb(201, 43, 43) solid 1px; margin: auto; max-width: 50%;">
        <h3> {{post.title}} </h3>
        <p> by {{post.author}}</p>
        <h4> {{post.content}} </h4>
        <br/>
    </div>
    {% endfor  %}  
</body>
</html>